body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(54, 54, 54);
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(127, 239, 253);
    border: 2px solid rgb(255, 255, 255);
    float: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 75px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .toggle {
    margin: 10px;
  }